[data-start] {
margin-bottom: 10px;
  }


.timer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.value {
    order: -1;
    font-size: 30px;
}
